@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {

    background: cornflowerblue;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
}

main{
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    align-items: center;
}
h1 {
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
    font-family: Squada One;
    font-style: normal;
    font-weight: normal;
    font-size: 90px;
    color: #FFFFFF;
    }
p {

    font-family: Squada One;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 30px;
    color: #FFFFFF;
   
}

input{
    width: 160px;
    height: 40px;
    border-radius: 10px;
    text-align: center;
    font-size: x-large;
    box-shadow: 1px 1px 2px #000000;
}
button{
    box-shadow: 2px 2px 2px #000000;
    background-color: mistyrose;
    width: 100px;
    height: 40px;
    margin: 20px;
    padding: 15px;
    border-radius: 5px;
}
#verificar {
    font-family: Squada One;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 10px;
}
#enunciado{
  
    text-align: center;
}
#output{
    font-size: 60px;
}

#ahorcado {
    display: inline-block;
    height: 375px;
    width: 330px;
    background-image: url(img/Group\ 1.png);
    border-radius: 10px;
    box-shadow: 3px 3px 5px #000000;
    margin-left: 10px;
    margin-right: 10px;
}




#ganaste{
    display: none;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 3rem;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #6495ED;
    font-family: 'VT323', monospace;
    color: #ffffff;
}

#ganaste h1{
    font-family: 'VT323', monospace;
}

#volver {
    font-family: Squada One;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 10px;
}

#perdiste{
    display: none;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 3rem;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #000000;
    font-family: 'VT323', monospace;
    color: #ffffff;
}

#perdiste h1{
    font-family: 'VT323', monospace;
}

#volver2 {
    font-family: Squada One;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 10px;
}

.img_perdiste{
    width:160px;
    
}

.txt_over{
    font-size: 50px;
    
}

.txt_loser{
    font-size: 40px;
 
}

.img_ganaste{
    width:160px;
    
}

.txt_win{
    font-size: 50px;
    
}

.txt_congratulations{
    font-size: 40px;
 
}

@media screen and (min-width: 280px) and (max-width: 350px) { 

    main{
       
        justify-content:space-between;
        flex-direction: column;
        align-items: center;
}

#ahorcado {
    
    height: 285px;
    width: 240px;
    background-image: url(img/Group\ 1.png);
    border-radius: 10px;
    box-shadow: 3px 3px 5px #000000;
    margin-left: 10px;
    margin-right: 10px;
}


#perdiste{
    display: none;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 3rem;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #000000;
    font-family: 'VT323', monospace;
    color: #ffffff;
}

.img_perdiste{
    width: 100px;
    margin-top: 50px;
}

.txt_over{
    font-size: 50px;
}

.txt_loser{
    font-size: 40px;
 
}

.img_ganaste{
    width: 100px;
    margin-top: 50px;
    
}

.txt_win{
    font-size: 50px;
    
}

.txt_congratulations{
    font-size: 40px;
 

}

}

@media screen and (min-width: 351px) and (max-width: 800px) { 

    main{
        justify-content:space-between;
        flex-direction: column;
        align-items: center;
}

#ahorcado { 
    height: 375px;
    width: 330px;
    background-image: url(img/Group\ 1.png);
    border-radius: 10px;
    box-shadow: 3px 3px 5px #000000;
    margin-left: 10px;
    margin-right: 10px;
}

#perdiste{
    display: none;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 3rem;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #000000;
    font-family: 'VT323', monospace;
    color: #ffffff;
}

.img_perdiste{
    width: 150px;
    margin-top: 50px;
}

.txt_over{
    font-size: 50px;
}

.txt_loser{
    font-size: 40px;
 
}

.img_ganaste{
    width: 150px;
    margin-top: 50px;
    
}

.txt_win{
    font-size: 50px;
    
}

.txt_congratulations{
    font-size: 40px;
 

}   

}


@media screen and (max-width:700px){
    h1{
        font-size:50px;
       
      }

      p{
        font-size: 26px;
        
    }

    
    }

   

